@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&family=Yuji+Syuku&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500; 
    color: #252525;
    background-color: linen;
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
}

hr {
  border-top: 1px solid #252525;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

h2 {
  margin-bottom: 1em;
}

a {
    color: #252525;
    text-decoration: none;
}

.round-corners {
  border-radius: 5px;
}

.hover-effect:hover {
  background-color: #252525;
  color: ivory;
  border-radius: 5px;
}

/* NAVIGATION BAR */

header {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  position: relative; 
  z-index: 50;
}

section {
  position: relative;
  z-index: 20;
}

.logo {
  font-family: 'Yuji Syuku', serif;
  font-size: 260%;
  line-height: 5rem;
  letter-spacing: 5px;
  padding-left: 0.5rem;
  max-width: 60%;
}

nav {
  display: inline-block;
  text-align: right;
  height: 70px;
  line-height: 6rem;
}

.menu {
  margin: 0;
  list-style-type: none;
}

.menu a {
  clear: right;
  text-decoration: none;
  color: inherit;
  margin-right: 0.5em;
  line-height: 6rem;
  padding: 0.25em;
}

nav>label {
  margin: 0 0.5em 0 0;
  font-size: 250%;
  display: none;
  float: right;
}

#toggle {
  display: none;
}
nav {
  display: inline-block;
}

.menu a {
  display: inline;
  letter-spacing: 5px;
  margin-left: 1rem;
  margin-right: 0.5rem;
  line-height: 6rem;
}

.active {
    border-bottom: 1px solid #252525;
}

/* FOOTER SECTION */

#footer {
  text-align: center;
  padding: 7%;
}

.social-icon {
  font-size: 150%;
  margin: 4%;
  padding: 2%;
}

#footer p {
  font-size: 10px;
}

/* HOME PAGE */

#hero-section {
    display: inline-block;
    max-width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

#hero-image {
    max-width: 70%;
    height: auto;
}

/* animation effect code retrieved from https://blog.hubspot.com/website/css-fade-in */
#hero-image {
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    
    100% {opacity:1;}
  }

#welcome {
  text-align: center;
  letter-spacing: 20px;
  font-family: 'Yuji Syuku', serif;
  font-size: clamp(1.25rem, 4vw, 4rem);
    
  animation: fadeIn linear 4s;
  -webkit-animation: fadeIn linear 4s;
  -moz-animation: fadeIn linear 4s;
  -o-animation: fadeIn linear 4s;
  -ms-animation: fadeIn linear 4s;
}
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/* ABOUT PAGE*/

#about-page {
  background-image: url("../images/succulent-transparent-2.png");
  background-position: 100% 5%;
  background-size: 150%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#artist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  max-width: 1000px;
  margin: auto;
}

#profile-text {
  margin-top: auto;
  margin-bottom: auto;
  letter-spacing: 1.5px;
  line-height: 1.5rem;
  padding: 1.5em 1.25em 0;
}

.profile-photo {
  width: 100%;
}

#artist-photo {
  margin: auto 1em auto;
}

#studio-section {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

#studio-text {
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
  padding: 0 1.25em;
}

#studio-grid {
  text-align: center;
  margin-top: 2em;
}

.studio-photo {
  margin: 0.5em;
  border-radius: 5px;
  width: 32rem;
  max-width: 100%;
}

/* PORTFOLIO PAGE */

#portfolio-page {
  background-image: url("../images/eyedrip-transparent-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 125%;
}

.portfolio-section {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 2em;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-section h2 {
  text-align: center;
  margin-bottom: 2em;
}

.tattoo-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.tattoo-image {
  width: 100%;
}

#available-design-text {
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
  padding-bottom: 2em;
}

.discuss-button {
  background-color: linen;
  padding: 0.5em;
  border: 1px solid #252525;
  display: inline-block;
  margin-top: 1em;
}

.tattoo-card p {
  text-align: center;
  font-size: 1rem;
  padding-top: 0.5rem;
}

/* CONTACT PAGE */

#contact-page {
  background-image: url("../images/swirl-transparent-2.png");
  background-position: 0% -5%;
  background-size: 175%;
  background-repeat: no-repeat;
}

#contact-form {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3em;
  line-height: 2.5rem;
  letter-spacing: 1.5px;
  padding: 1em;
}

#contact-form p {
  font-weight: 500;
  margin-bottom: 1.5em;
}

.text-area {
  background-color: linen;
  border: solid 1px #252525;
  margin: 0.25rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.25em;
  max-width: 95%;
}

.form-section {
  margin: 1em;
}

button {
  font-family: inherit;
  font-size: 1.25rem;
  padding: 0.25em;
  background-color: linen;
  border: solid 1px #252525;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1150px) {
  
  .logo {
    font-family: 'Yuji Syuku', serif;
    letter-spacing: 3px;
    padding-left: 0.5rem;
  }
  
  .menu a {
    display: inline;
    letter-spacing: 3px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}  

@media screen and (max-width: 1050px) {
  /* responsive hamburger menu code retrieved from https://www.youtube.com/watch?v=xMTs8tAapnQ */
  nav>label{
    display: block;
    cursor: pointer;
    line-height: 5.5rem;
  }

  .menu {
    text-align: right;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    margin-right: 1em;
    line-height: 3.5rem;
    color: linen;
    background-color: #252525;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  #toggle:checked + .menu {
    display: block;
    border-radius: 5px;
  }

  .menu .hover-effect:hover {
    color: #252525;
    background-color: linen;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .burger-menu-1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .burger-menu-4 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .active {
    border-bottom: 1px solid linen;
  }
}

@media screen and (max-width: 920px) {
  .logo {
  font-family: 'Yuji Syuku', serif;
  font-size: 200%;
  padding-left: 0.5rem;
  }

  #hero-image {
    max-width: 100%;
}

  #available-design-text, #studio-text {
    width: 80%;
  }
}

@media screen and (max-width: 722px) {
  .logo {
  font-family: 'Yuji Syuku', serif;
  font-size: 200%;
  line-height: 3rem;
  padding-left: 0.5rem;
  }

  #contact-form {
    max-width: 90%;
    line-height: 1.5rem;
    margin-top: -1em;
  }
}

@media screen and (max-width: 654px) {
  #profile-text {
    text-align: center;
    margin: auto;
    width: 85%;
  }
  
  #studio-text {
    width: 85%;
  }
}