@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&family=Yuji+Syuku&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500; 
    color: #252525;
    background-color: cornsilk;
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
}

a {
    color: #252525;
    text-decoration: none;
}

/* navigation bar 2nd time */

header {
  /* background-color: pink; */
  /* text-align: center; */
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  /* display: inline; */
  font-family: 'Yuji Syuku', serif;
  font-size: 260%;
  line-height: 5rem;
  /* text-align: center; */
  letter-spacing: 5px;
  padding-left: 0.5rem;
}

nav {
  /* position: absolute; */
  display: inline-block;
  /* margin-right: 0.5rem; */

}

nav ul {
  list-style: none;
  line-height: 6rem;
  /* text-align: right; */
  
}

li {
  display: inline;
  letter-spacing: 5px;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.hover-effect:hover {
    background-color: #252525;
    color: ivory;
    border-radius: 5px;
    padding: 0.25em;
}

.active {
    border-bottom: 1px solid #252525;
}

/* hero image section */

#hero-section {
    display: inline-block;
    width: 60%;
    text-align: center;
    height: 400px;
    margin-left: 20%;
    margin-right: 20%;
}

#hero-image {
    /* display: inline-block; */
    max-width: 100%;
    height: auto;
    background: url('../images/index-hero-image.png') no-repeat center center;
    background-size: contain;
    background-position: 50% 50%;
}

/* animation effect code retrieved from https://blog.hubspot.com/website/css-fade-in */
#hero-image {
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    
    100% {opacity:1;}
  }

  #welcome {
    text-align: center;
    letter-spacing: 20px;
    /* display: inline-block; */
    font-family: 'Yuji Syuku', serif;
    font-size: 3em;
    
    animation: fadeIn linear 4s;
    -webkit-animation: fadeIn linear 4s;
    -moz-animation: fadeIn linear 4s;
    -o-animation: fadeIn linear 4s;
    -ms-animation: fadeIn linear 4s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  /* footer section */

  #footer {
    text-align: center;
    padding: 7%;
}

.social-icon {
    font-size: 150%;
    margin: 20px 50px 50px;
    padding: 0.5%;
}

#footer p {
    font-size: 10px;
}
    
/* About page*/

#about-page-background{
  background-image: url("../images/succulent-transparent-1.png");
}
    
#artist-section {
  padding-top: 30px;
  /* background-color: orange; */
  display: inline-block;
  /* height: 600px; */
}

.artist-photo {
  /* background-color: pink; */
  display: inline-block;
  width: 30%;
  margin-left: 20%;
  
}

.round-corners {
  border-radius: 5px;
}

#profile-text {
  /* background-color: lightblue; */
  width: 30%;
  float: right;
  margin-left: 3%;
  margin-right: 16%; 
  letter-spacing: 1.5px;
  line-height: 1.5rem;
  padding-top: 8em;
  
}

hr {
  border-top: 1px solid #252525;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em;
}

/* About the studio section */

#artist-section, #studio-section {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

#studio-text {
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
  padding-bottom: 2em;
}

#studio-grid {
  /* background-color: pink; */
  text-align: center;
}

.studio-photo {
  margin: 0.5em;
  border-radius: 5px;
  max-width: 25rem;
}

/* Portfolio page */

#portfolio-page-background {
  background-image: url("../images/eyedrip-transparent-1.png");
  background-size: 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

.portfolio-section {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

#completed-tattoos, #available-designs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  place-items: center;
} 

.tattoo-photo {
  object-fit: cover;
  max-width: 20em;
}

#available-design-text {
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
  padding-bottom: 2em;
}

.discuss-button {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5em;
  border: 1px solid #252525;
  margin-bottom: 2rem;
}

#available-designs p {
  text-align: center;
  font-size: 1rem;
  padding-top: 0.5rem;
}

/* Contact page */

#contact-page-background {
  background-image: url("../images/swirl-transparent-1.png");
  background-position: 0% -5%;
  background-size: 175%;
  background-repeat: no-repeat;
}

#contact-form {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3em;
  line-height: 2.5rem;
  letter-spacing: 1.5px;
  background: rgba(255, 248, 220, 0.5);
  padding: 1em;
}

#contact-form p, label {
  font-weight: 500;
}

.text-area {
  background-color: ivory;
  border: solid 1px #252525;
  margin: 0.25rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.25em;
}

button {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.25em;
  background-color: ivory;
  border: solid 1px #252525;
}
